.Homepage{
    width: 100%;
}
.Homepage-container{
    padding-inline: 5%;
}
.Homepage-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 100px 50px;
}
.homepage-Title{
    font-size: 20px;
    text-align: center;
}
.homepage-Title>span{
    color: green;
}
.Homepage-1st-img{
    width: 100%;
}
.Page-Heading{
    text-align: center;
    font-size: 23px;
    background-color: green;
    color: white;
    padding: 5px;
    margin-block: 10px;
}
.homepage-games{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.homepage-games-card{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.homepage-games-card>img{
    width: 100%;
}
.homepage-games-card>div{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}