.Homepage{
    width: 100%;
}
.Homepage-container{
    padding-inline: 5%;
}
.homepage-heading{
    text-align: center;
    font-size: 22px;
    background-image: var(--van-gradient-orange);
    border-radius: 5px;
    margin-block-end: 0.3em !important;
    padding: 5px;
}
.Homepage-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10px 50px;
}
.homepage-Title{
    font-size: 22px;
    text-align: center;
}
.homepage-Title>span{
    color: gold;
}
.Homepage-1st-img{
    width: 70%;
}
.homepage-games{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.homepage-games-card{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.homepage-games-card>img{
    width: 100%;
}
.homepage-games-card>div{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}