.login{
    width: 100%;
}
.login-container{
    padding-inline: 5%;
}

.login-form{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: auto;
}
.login-input{
    width: 80%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-block: 10px;
}

.login-avtar{
    display: flex;
    font-size: 13px;
    margin-top: 5vh;
    width: 100%;
    overflow-x: scroll;
}
.login-avtar input[type="radio"] {
    display: none;
}
.login-upload-img,
.login-avtar label {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  width: 80px !important;
  height: 80px;
} 
/* .login-upload-img, */
.login-avtar img,
.login-avtar label img,
.login-avtar label div{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.login-avtar input[type="radio"]:checked + label {
    background-color: var(--van-blue);
    color: gold;
    border: 1px solid gold;
    font-weight: 600;
}
.login-upload-icon{
    font-size: 40px;
}