.mathgame{
    width: 100%;
}
.mathgame-container{
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
}

.game-heading span{
    color: green;
    font-weight: 500;
}
/* .money-add-game{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.math-question-card{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}
.math-question{
    font-size: 22px;
    margin-block: 10px;
}
.math-question-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.math-question-options div{
    margin-block: 10px;
}
.math-question-options label{
    cursor: pointer;
    font-size: 18px;
}


.game-timer{
    background-image: var(--van-gradient-red);
    text-align: center;
    padding-block: 10px;
    border-radius: 50%;
}
.game-heading{
    font-size: 20px;
    text-align: center;
}
.game-heading > span{
    color: gold;
}

.square-buttons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 13px;
  margin-top: 5vh;
}
.square-buttons input[type="radio"] {
    display: none;
  }
  
 .square-buttons label {
   padding: 5px;
   margin: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .square-buttons input[type="radio"]:checked + label {
   background-color: var(--van-blue);
   color: gold;
   border: 1px solid gold;
   font-weight: 600;
 }