.Navbar{
    width: 100%;
    background-color: green;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
}
.nav-menu-container a,
.navbar-container>a{
    text-decoration: none;
}
.navlogo{
    color: white;
    font-size: 30px;
    font-weight: 800;
}
.navlogo>span{
    color: gold !important;
}
.nav-item-button{
    border: none;
    background-color: gold;
    color: green;
    font-weight: 550;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.nav-menu-close,
.nav-user-icon{
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: white;
}
.nav-menu-close{
    scale: 1.23;
}

/* nav-Menu */
.nav-menu{
    width: 80%;
    height: 100vh;
    z-index: 1000;
    background-color: green;
    position: sticky;
    left: 0;
    top: 50px;
    animation: nav-menu-animation .15s linear  forwards ;
}
@keyframes nav-menu-animation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
.nav-menu-container{
    padding: 20px;
}
.nav-menu-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    /* color: green !important; */
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}
.cl-avatarImage, 
.cl-userButtonAvatarImage, 
.🔒️,
.cl-internal-fhootk{
    width: 60px !important;
    height: 60px;
}
.nav-menu-price{
    font-size: 20px;
    color: green;
}
.nav-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f1f1;
    color: black;
    margin-block: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}
.nav-menu-item>span{
    font-size: 20px;
    padding-right: 10px;

}
.nav-menu-help{
    margin-top: 40px;
}
.nav-menu-help p{
    color: white;
}