.transactions{
    width: 100%;
}
.transactions-container{
    padding-inline: 10%;
}
.transactions-card{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin-block: 10px;
    /* background-color: var(); */
    /* border-radius: 5px; */
    border-bottom: 1px solid #ccc;
}
.transactions-name{}
.transactions-price{}
