.winpopup,
.add-money-popup{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.add-money-popup-container,
.winpopup-container{
    width: 90%;
    margin: auto;
    background-color: green;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 40px #00000041;
}
.winpopup-img{
    width: 100%;
}
.winpopup-price{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 45px;
    color: gold;
}
.winpopup-button{
    background-color: gold;
    color: green;
    border: none;
    margin: auto;
    display: grid;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
}

/* add money POPUP */
.add-money-popup{
    width: 90% !important;
}
.add-money-popup-container{
    padding-block: 0 20px;
}
.add-money-h2{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.add-money-popup-close-button,
.add-money-button{
    background-color: gold;
    color: green;
    border: none;
    text-align: center;
    width: 110px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin: 20px 10px;
    cursor: pointer;
}
.add-money-popup-close-button{
    background-color: white;
    color: green;
}