.withdraw-account-balance,
.withdraw-upi-link{
    background-color: var( --van-prime-card);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    margin-block: 10px;
}
.withdraw-upi-link>img{
    width: 100px;
}
.min-withdraw-text{
    color: red;
    text-align: center;
}


.money-add-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.money-add-game>h3{
    margin-bottom: 50px;
}
.amount-input{
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    margin-inline: 40px;
    color: white;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
.withdraw-upi-link>button{
    border: none;
    background-color: white;
    color: green;
    border: 2px solid green;
    font-size: 16px;
    padding: 4px 30px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
.withdraw-upi-id{}


.upi-popup{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff3c;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.upi-popup-container{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 300px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--van-prime);
    align-items: center;
}
.upi-popup-close{
    font-size: 25px;
    top: 20px;
    position: absolute;
    right: 20px;
}

/*  */
.popup{
    width: 100%;
    height: 100%;
}
.popup-conatiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    width: 82%;
    padding-block: 60px;
    border-radius: 30px;
    box-shadow: 0 0 80px gray;
    text-align: center;
    color: black;
}
.withdraw-blue-tick{
    width: 30%;
}
.withdraw-amount{
    font-size: 30px;
    margin-block: 20px 10px;
}
.withdraw-successfully{
    color: green !important;
    font-weight: 600;
    margin-bottom: 30px;
}
.withdraw-teansaction-id{
    margin-block: 5px;
}