:root{
   --van-prime: #1f2e6a;
   --van-prime-card: #304183;
   --van-prime-dark: #0b1745;

   --van-prime-text: #0b1745;

   --van-radius-sm: 2px;
   --van-radius-md: 4px;
   --van-radius-lg: 10px;
   --van-radius-max: 999px;


   --van-red: #ee0a24;
   --van-blue: #1989fa;
   --van-orange: #ff976a;
   --van-orange-dark: #ed6a0c;
   --van-orange-light: #fffbe8;
   --van-green: #07c160;
   --van-gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
   --van-gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);
   --van-padding-base: 4px;
   --van-padding-xs: 8px;
   --van-padding-sm: 12px;
   --van-padding-md: 16px;
   --van-padding-lg: 24px;
   --van-padding-xl: 32px;
   --van-font-bold: 600;
   --van-font-size-xs: 10px;
   --van-font-size-sm: 12px;
   --van-font-size-md: 14px;
   --van-font-size-lg: 16px;
   --van-line-height-xs: 14px;
   --van-line-height-sm: 18px;
   --van-line-height-md: 20px;
   --van-line-height-lg: 22px;
   --van-duration-base: .3s;
   --van-duration-fast: .2s;
   --van-ease-out: ease-out;
   --van-ease-in: ease-in;
   --van-border-color: var(--van-gray-3);
   --van-border-width: 1px;

  }
  

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
}

#root {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: var(--van-prime);
}


/* comman css */
.big-submit-button{
  margin-inline: 40px;
  margin-top: 50px;
  border: none;
  border-radius: 20px;
  padding-block: 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: green;
  cursor: pointer;
  width: 90%;
}

.amount-input{
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  margin-inline: 40px;
  color: black;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}