body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d221a;
  color: white;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
}

#root {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-color: #153c2e;
}